<app-header></app-header>
<!-- <div class="container">
  <div
    id="carouselExampleIndicators"
    class="carousel slide  p-3  align-items-center"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://jiocinemaweb.cdn.jio.com/jioimages.cdn.jio.com/content/entry/dynamiccontent/thumbs/700/-/0/15/2/92fd25a0b4ca11ec8ec6653f060ba240_1649253321783_l_medium.jpg"
          class="d-block w-100"
          height="400"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://assetscdn1.paytm.com/images/cinema/KGF-1035x420-1b19b220-b6fe-11ec-8665-6d654dc679e6.jpg"
          class="d-block w-100"
          height="400"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/babbar-et00324540-14-03-2022-11-20-49.jpg"
          class="d-block w-100"
          height="400"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h2 class="text text-center">Unlimited movies, TV shows and more.</h2>
  <br />
  <br />
  <br />
  <h3 class="text text-center">Watch wherever with the Cinema app.</h3>
  <br />
</div> -->



<div class=" container  shadow-lg p-3 mb-5 bg-body rounded">
  <div class="main_container full_width jds-container btn-revamp">
    <div class="l-breakpoint--desktop">
      <span class="sp--l pd--top j-Space__vertical j-Space"></span>
    </div>
    <div class="l-breakpoint--tablet">
      <span class="sp--xs pd--top j-Space__vertical j-Space"></span>
    </div>

    <div class="l-layout--max-width overflow-scroll-max-width mb-5">

      <div
        class="j-card j-content-layout card-horizontal-dektop size--s card-vertical maskhead-card no-top-padding no-bottom-padding j-card__shadow l-radius--xl">
        <div data-mode="bold" class="j-card__flex j-flex-column-reverse">
          <div class="j-card__content j-relative w-100 h100-l">
            <div class="j-card__ramdo bg--primary-background"></div>
            <div class="j-contentBlock j-contentBlock__size-s j-relative h100-l">
              <div class="j-contentBlock__body h100-l">
                <div class="j-contentBlock__content pd--bottom pd--top-l sp--m">
                  <h4 class="j-contentBlock__title j-text-heading-l j-color-primary-grey-100 ">
                    10,000+ movies and much more.
                  </h4>
                </div>
              </div>
            </div>
          </div>


          <div class="j-card__image no-radius l-breakpoint--desktop"
            style=" --aspect-ratio: var(--aspect-ratio-landscape);--image-focus: top;"></div>
          <div class="j-card__image no-radius l-breakpoint--tablet w-100" style="--image-focus: top"></div>
        </div>
      </div>
    </div>



    <section class="j-container">
      <div class="l-layout--max-width">
        <section class="j-container l-layout--max-width-narrow">
          <div class="l-align-center sm-align-left j-contentBlock j-contentBlock__size-m">
            <div class="j-contentBlock__caption l-layout--centered sm-layout--left">
              <div class="j-listBlock align-middle">
                <div class="j-listBlock__main">
                  <div class="j-listBlock__prefix">
                    <span class="j-icon" style="
                          --icon-size-svg: 100%;
                          --icon-size: var(--spacing-l);
                        ">
                      <img src="https://jep-asset.akamaized.net/jio/svg/logo/jiocinema-n.svg" alt="JioCinema"
                        class="l-radius--large overflow-initial" loading="lazy" />
                    </span>
                  </div>
                  <div class="j-contentBlock__title j-heading j-text-heading-xs">
                    JioCinema
                  </div>
                </div>
              </div>
            </div>

            <div class="j-contentBlock__body">
              <div class="j-contentBlock__content">
                <!-- <br class="l-breakpoint--widescreen"> -->
                <h3 class="j-contentBlock__title j-heading j-text-heading-l">
                  Watch wherever with the Cinema app.
                </h3>
                <p class="j-contentBlock__description j-text-body-m j-color-primary-grey-80">
                  Carry 10.000+ movies series, 700+ shows and more in<br class="l-breakpoint--widescreen" />
                  you pocket with the JioCinema app or the MyJio app.
                </p>
              </div>

              <div class="j-button-group">
                <a class="btn btn-primary m-3" routerLink="/createaccount" routerLinkActive="activebutton">Join Now</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
  <div class="grid-flex p-5">
    <div class="col col-image" style="background-image: url(https://www.jio.com/imagejcsec1-min.png);">
    </div>
    <div class="col col-text">
      <div class="Aligner-item">
        <h3 class="text-center">
          Bringing you entertainment across 11 languages
        </h3>
        <h5 class="text-center">Watch your favourite Movies, TV Shows, Originals, Music Videos with subtitles and in the
          audio language of your choice.</h5>
      </div>
    </div>
  </div>

  <div class="grid-flex p-5">
    <div class="col col-image" style="background-image: url(https://www.jio.com/image-3jc2d-min.png);">
      &nbsp;
    </div>
    <div class="col col-text col-left">
      <div class="Aligner-item">
        <h3 class="text-center">
          Experience entertainment in all screen sizes
        </h3>
        <h5 class="text-center">Watch Movies, TV Shows & Web Series at the tap of a button on the device of your choice
        </h5>
      </div>
    </div>
  </div>

  <div class="grid-flex p-5">
    <div class="col col-image" style="background-image: url(https://www.jio.com/image-2jcd4.png);">
      &nbsp;
    </div>
    <div class="col col-text">
      <div class="Aligner-item">
        <h3 class="text-center">
          Download & watch your favorite movies and TV shows offline to stream anytime anywhere
        </h3>
        <h5 class="text-center">10,000+ Movies Online | 700+ TV Shows & Web Series | 70,000+ Music Videos
        </h5>
      </div>
    </div>
  </div>
</div>